<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
  <title>商城-首頁</title>
  <meta charset="utf-8">
  <th:block th:replace="~{layout/all_head::head}"></th:block>

  <style>
    .table {
      table-layout: fixed;
      width: 100%;
    }

    td {
      padding: 10px 15px;
    }
  </style>
</head>

<body>
 <header th:replace="~{layout/shop_header :: header}"></header>



  <script th:src="@{/user_static/js/jquery-1.11.0.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script th:src="@{/user_static/js/plugins.js}"></script>
  <script th:src="@{/user_static/js/script.js}"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>